html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input {
    outline: none;
    border: none;
    background-color: transparent;
}

.main {
    padding-top: 50px;
}

.container {
    margin: 0 auto;
    max-width: 430px;
    padding: 0 15px;
}

.modal {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 50px 70px;
    box-shadow: 0 0 7px 3px rgb(0 0 0 / 35%), 0 10px 10px 3px rgb(0 0 0 / 25%)
}

.modal-links {
    display: flex;
    margin-bottom: 60px;
}

.modal-link {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: #fbf6e4;
    margin-right: 25px;
    padding-bottom: 4px;
}

.modal-links-item:last-child >.modal-link {
    color: #e1c2f1;
    margin: 0;
}

.modal-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #e66a64;
    opacity: 0;
    transition: all .2s linear;
}

.modal-link:hover:after {
    opacity: 1;
}

.modal-flex-row {
    display: flex;
    flex-direction: column;
}

.input-holder {
    margin-bottom: 18px;
}

label {
    display: block;
    color: #fff;
}

.input-label {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
}

.modal-input {
    width: 260px;
    height: 45px;
    border: 2px solid #9380c5;
    font-size: 18px;
    font-weight: 700;
}

.input-holder:nth-child(3) {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 40px;
}

.modal-checkbox {
    margin-right: 6px;
}

.btn {
    padding: 12px;
    background-color: #23ae92;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    transition: all .2s linear;
    margin-bottom: 32px;
}

.btn:hover {
    background-color: #0f997d;
}

.help-modal-links {
    display: flex;
    justify-content: space-between;
}

.help-link {
    font-size: 13px;
    font-weight: 400;
    color: #b9b9cc;
    padding-bottom: 3px;
    border-bottom: 1px solid #5c48bb;
    transition: all .2s linear;
}

.help-link:hover {
    border-bottom: 1px solid #261e4e;
    color: #e3e3f0;
}