html,
body {
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

a {
    display: block;
    text-decoration: none;
}

.form-section {
    min-height: 100vh;
    background-color: #bac5db;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}

.form-section .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    position: relative;
    max-width: 664px;
    width: 100%;
    border-radius: 20px;
    background-color: #353a45;
    padding: 60px 82px;
    text-align: center;
    box-shadow: 0 26px 49px rgba(35, 70, 133, .28);
}
.form .icon-holder {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    background-image: linear-gradient(191deg, rgba(147,114,191,1) 0%,
    rgba(71,170,230,1) 100%);
    font-size: 42px;
    color: #fff;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.13);
}

.form .icon-holder::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.13);
}

.form-title-holder {
    padding-bottom: 40px;
}

.form-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    color: #538fff;
    margin: 0;
    padding-bottom: 30px;
}

.form-subtitle {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 40px;
}

.form-input-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.input-email {
    flex-grow: 1;
    margin-right: 13px;
    height: 52px;
    padding: 17px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    outline: none;
    box-shadow: inset 5px 5px rgba(0 0 0 / .03);
    font-family: 'lato', sans-serif;
    font-size: 20px;
}

.input-email:-moz-placeholder {
    color: #a9a9a9;
}

.btn {
    border-radius: 10px;
    color: #fff;
    background-color: #538fff;
    font-size: 18px;
    letter-spacing: .1em;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'lato', sans-serif;
    padding: 17px 25px;
    transition: all .2s linear;
}

.btn:hover {
    background-color: #3a6bc7;
}

.form-aftervord {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    color: #787d87;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.form-close {
    position: absolute;
    top: 12px;
    right: 12px;
}

.form-close-link {
    min-width: 35px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-out;
    border: 3px solid #4d5975;
    border-radius: 50%;
}

.form-close-link:hover{
    transform: rotate(90deg);
    border: 3px solid #2152c5;
}